#####################################################################
# About this Project
#####################################################################
[PROJECT]
AUTHORS=Evan J. Coon
NAME=
SUMMARY:


#####################################################################
# Further Project Configuration
#####################################################################
[DIRS]
BASE=
