#!/usr/bin/bash

SOURCERY_PROFILE="/home/ejtravis/sourcery/sources/profile.bash"

if [ -e ${SOURCERY_PROFILE} ]; then
    source ${SOURCERY_PROFILE}
else
    echo -e "Bash profile template error.\n"
fi
