#!/usr/bin/bash

SOURCERY_PROFILE=""
NAME=$(uname -o)
if [ "${NAME}" == "Cygwin" ]; then
    SOURCERY_PROFILE=~/sourcery/sources/profile.bash
else
    SOURCERY_PROFILE=/home/${TTY_OWNER}/sourcery/sources/profile.bash
fi

if [ -e ${SOURCERY_PROFILE} ]; then
    source ${SOURCERY_PROFILE}
else
    echo -e "Bash profile template error.\n"
fi
