# Identify your Commits
[user]
	name = Evan J. Travis
	email = ejtravis@illinois.edu
[core]
# Enable a global ignore list
	excludesfile = ~/.gitignore
# Choose a custom pager
	pager = less -FRX
# Default to new style push behavior
[push]
	default = simple
# Enable colored output
[color]
	ui = true
# Do not prompt for a password quite so often
[credential]
	helper = cache --timeout 3600
[commit]
    template = ~/.gitmessage
