.DS_Store
.includepath
.*.ejtravis.temp
get-pip.py
MANIFEST
pinch.history
pinch_cut.temp
pinch_result.temp
TODO
*__evan_dev__*
*.dev
*.ejtravis.temp
*.gz
*.jar
*.log
*.o
*.pyc
*.sw[mnop]
*.tar
*.tws
*.zip
