[submodule "sources/utils/git-aware-prompt"]
	path = sources/utils/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt.git
[submodule "sources/utils/httpie"]
	path = sources/utils/httpie
	url = https://github.com/jkbrzt/httpie.git
