# 1. Log in as su user on the system
# 2. Copy this file into the su-user's home directory
# 3. Run
#
# This makefile is designed to automate the testing of an RPM
# within the context of an SDG virtual environment.
#
# This makefile should be placed in the home directory of the su-user.
include $(SETTINGS)/templates/rpm/util.mk

SHELL=/bin/bash
#####################################################################
# Variable(s) that will definitely need to change.
#####################################################################
SRC= # Where the created RPM resides on the user side
PACKAGE= # The package name of the RPM
VERSION= # The version of the release
WSGI= # The location of the wsgi.conf in relation to the installation directory

#####################################################################
# Variable(s) that 'might' need to change.
#####################################################################
DST= # The destination of the RPM on the service-user side

#####################################################################
# Variables that in all likelihood will not need to change.
#####################################################################
RPM=$(PACKAGE)-$(VERSION)-1.el6.noarch.rpm # Full name of the RPM
SUDO=sudo /sbin/service # First part of command to restart services
SHIB=$(SUDO) shibd # Second part of command to restart shibboleth
HTTPD=$(SUDO) httpd # Second part of command to restart apache
RPM_INFO=~/$(PACKAGE).info # Location of file to be created containing info on RPM
RPM_CONTENTS=~/$(PACKAGE).contents # Location of file to be created containing the contents of the RPM

$(call check_defined, DST PACKAGE SRC VERSION WSGI)

all: clean setup uninstall install config restart done

clean:
	@echo 'cleaning...'
	rm -rf $(PACKAGE)
	rm -rf $(DST)
	rm -rf $(HOME)/public_html
	rm -f $(RPM_INFO)
	rm -f $(RPM_CONTENTS)

setup:
	@echo 'setting up installation environment...'
	mkdir -p $(HOME)/public_html/http
	mkdir -p $(HOME)/public_html/https
	mkdir $(DST)
	cp $(SRC)/$(RPM) $(DST)
	sdg_sync

uninstall:
	@echo 'uninstalling old package version...'
	rpm --query --info --package $(DST)/$(RPM) >> $(RPM_INFO)
	rpm --query --list --package $(DST)/$(RPM) >> $(RPM_CONTENTS)
	rpm --erase $(PACKAGE)

install: uninstall
	@echo 'installing new package version...'
	rpm --upgrade $(DST)/$(RPM)

config: install
	@echo 'installing config files into package...'
	mv $(WSGI) apache/wsgi.conf
	cp TempConfig/* $(PACKAGE)/config

restart:
	@echo 'restarting services...'
	@echo '    shibboleth'
	$(SHIB) stop
	$(SHIB) start
	@echo '    Httpd'
	$(HTTPD) stop
	$(HTTPD) start

done.o:
	@echo '---------->DONE'
