# 1. Log in as su user on the system
# 2. Copy this file into the su-user's home directory
# 3. Run
#
# This makefile is designed to automate the testing of an RPM
# within the context of an SDG virtual environment.
#
# This makefile should be placed in the home directory of the su-user.
SHELL=/bin/bash
#####################################################################
# Variable(s) that will definitely need to change.
#####################################################################
SRC=/home/$(USERR)/CompassSpaceRequest/
PACKAGE=IC2gCorrelation
VERSION=4.1b1
WSGI=$(PACKAGE)/config/wsgi.conf.template
#####################################################################
# Variable(s) that 'might' need to change.
#####################################################################
DST=$(HOME)/rpms/
#####################################################################
# Variables that in all likelihood will not need to change.
#####################################################################
RPM=$(PACKAGE)-$(VERSION)-1.el6.noarch.rpm
SUDO=sudo /sbin/service
SHIB=$(SUDO) shibd
HTTPD=$(SUDO) httpd
RPM_INFO=~/$(PACKAGE).info
RPM_CONTENTS=~/$(PACKAGE).contents

all: clean setup uninstall install config restart done

clean:
	@echo 'cleaning...'
	rm -rf $(PACKAGE)
	rm -rf $(DST)
	rm -rf $(HOME)public_html
	touch $(RPM_INFO)
	touch $(RPM_CONTENTS)
	rm $(RPM_INFO)
	rm $(RPM_CONTENTS)

setup:
	@echo 'setting up installation environment...'
	mkdir -p $(HOME)/public_html/http
	mkdir -p $(HOME)/public_html/https
	mkdir $(DST)
	cp $(SRC)$(RPM) $(DST)
	sdg_sync

uninstall:
	@echo 'uninstalling old package version...'
	rpm --query --info --package $(DST)$(RPM) >> $(RPM_INFO)
	rpm --query --list --package $(DST)$(RPM) >> $(RPM_CONTENTS)
	rpm --erase $(PACKAGE)

install: uninstall
	@echo 'installing new package version...'
	rpm --upgrade $(DST)$(RPM)

config: install
	@echo 'installing config files into package...'
	mv $(WSGI) apache/wsgi.conf
	cp TempConfig/* $(PACKAGE)/config

restart:
	@echo 'restarting services...'
	@echo '    shibboleth'
	$(SHIB) stop
	$(SHIB) start
	@echo '    Httpd'
	$(HTTPD) stop
	$(HTTPD) start

done.o:
	@echo '---------->DONE'
