# 1. Copy this file into the project's BASE_DIR
# 2. Run
#
#
# This makefile is designed to automate the building of an RPM
# within the context of SDG virtual environment and python distutils.

include $(SETTINGS)/templates/rpm/util.mk

PACKAGE= # The name of the RPM package
TMP= # Directory where RPM is stored upon generation
PROJ_PATH= # Where RPM directories are created during generation (i.e. build, dist)
VERSION= # The release version of the RPM
#####################################################################
# Variables unlikely to change.
#####################################################################
RPM=$(PACKAGE)-$(VERSION)-1.el6.noarch.rpm # The full name of the RPM

$(call check_defined, PACKAGE TMP PROJ_PATH VERSION)

all: clean build permission done

clean:
	rm -rf $(TMP)
	rm -rf $(PROJ_PATH)/build
	rm -rf $(PROJ_PATH)/dist

build:
	python $(PROJ_PATH)/setup.py bdist_rpm
	mkdir $(TMP)
	cp $(PROJ_PATH)/dist/$(RPM) $(TMP)

permission:
	chmod g+rx $(TMP)
	chown .$(SERVICE) $(TMP)
	chmod g+r $(TMP)/$(RPM)
	chown .$(SERVICE) $(TMP)/$(RPM)

done:
	@echo '---------->DONE'
